.sectionGrid {
    width: 100%;
}

.section {
    height: calc(200rem / 16);
    min-width: calc(150rem / 16);
    transition: box-shadow .2s ease-in-out;
}

.section:hover {
    box-shadow: rgba(0,0,0,0.05) 0px 6px 24px 0px, rgba(0,0,0,0.08) 0px 0px 0px 1px;
}