.sectionCard {
    background-color: cornsilk;
}

.headerContainer {
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap;
}

.nameContainer {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.iconsContainer {
    display: flex;
    margin-left: auto;
}

.editIcon, .trashIcon {
    margin-right: calc(3rem / 16);
    cursor: pointer;
    transition: color 0.3s ease;
}

.editIcon:hover {
    color: rgb(51, 96, 219);
}

.trashIcon:hover {
    color: rgb(206, 72, 72);
}

